/*
      You can find more information about functions and directives here https://tailwindcss.com/docs/functions-and-directives#layer.
*/

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
      /*
            Specify base styles that ought to be at the beginning of the stylesheet here.
            Think of headings, paragraphs, link styles, etc.

            Other valid layers are components and utilities. 
            By wrapping your styles in a layer you tell Tailwind which "bucket" a set of custom styles belong in.
      */
}

@screen sm {
      /*
            Add styles that activate above breakpoint 640px here.
            Tailwind acts mobile-first. So all the styles you specify out of the @screen directive are mobile styles.
      */
}

@screen md {
      /*
            Add styles that activate above breakpoint 768px here.
      */
}

@screen lg {
      /*
            Add styles that activate above breakpoint 1024px here.
      */
}

@screen xl {
      /*
            Add styles that activate above breakpoint 1280px here.
      */
}